/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Set all images to not exceed 100% of their parent element */
    img {
        max-width: 100%;
    }
:root {
    /* COLOR VARIABLES */
    --primary-1: #178889;
    --primary-2: #05a1a1;
    --primary-3: #34cdcd;
    --primary-4: #94dfdf;
    --accent-1: #f5a873;
    --accent-2: #ed6e58;
    --accent-3: #ffdd89;

    --neutral-black: #333;
    --neutral-dk: #575757;
    --neutral-mddk: #8C8C8B;
    --neutral-md: #C1C1BF;
    --neutral-mdlt: #DCDBD9;
    --neutral-lt: #F6F5F3;
    --neutral-white: #fff;

    /* FONT VARIABLES*/
    --font-standard: 'Poppins', sans-serif;
    --font-cursive: 'Homemade Apple', cursive; 
    font-size: 10px; /* set base font-size for easy rem calculations */
    font-family: var(--font-standard);
} 

/* MAIN STYLES */
body {
    font-size: 1.8rem;
}
p,
  h2,
  h3,
  h4 {
    margin-bottom: 20px;
  }
  h1 {
    font-size: 3.2rem;
    text-align: center;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: lowercase;
  }
a {
    text-decoration: none;
}    
a:hover {
  opacity: 80%;
}
.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* REUSABLE */
/* thick colorful underline */
.heading-accent {
    height: 5px;
    width: 60px;
    background: var(--primary-1);
    margin-bottom: 40px;
    margin-top: -10px;
}
/* thin neutral underline */
.divider {
    height: 1px;
    width: 40px;
    background: var(--neutral-md);
    margin: 20px 0 40px 0;
}
.heart-icon {
    color: var(--accent-2);
}
.coffee-icon {
  color: var(--primary-1);
} 
.smiley-icon {
  background: var(--accent-3);
  border-radius: 50%;
}
